/* Main Structures */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {background: #dedede; color: #111111; }

p {margin: 0;}

.container-full {
  margin: 0 auto;
  width: 100%;
}

#header{background-image: -webkit-linear-gradient(left, #67c082, #47b8e5); background-image: linear-gradient(left, #67c082, #47b8e5); border-bottom: none;}
    #wiki-title{margin: 25px auto 0 auto!important; cursor: pointer;}
    #wiki-title:hover{color: #08c;}
    #wiki-tagline{margin: 5px auto 25px auto!important;}

#page{min-height: 100%;}

#footer {background: rgba(0,0,0,0.1); border-top: solid 1px #454545; padding: 50px 0 20px; text-align: center;}
    #footer .logo{max-width: 150px; display: inline-block; vertical-align: top;}

.sidebar {background: rgba(0,0,0,0.1);} 
    
#main-nav {
    display: block; 
    width: 100%; 
    border-top: solid 1px #454545; 
    margin: 0; 
    background: #cdcdcd; 
    padding-top: 5px; 
    padding-bottom: 5px;
}

input, textarea {width: 85%; margin: 5px auto;}
 
/* .max-1080{width: 90%; max-width: 1080px; margin: 0 auto; padding: 0;} */


/* Home Page */

/* New Category Form */
#new-cat-form, #new-page-form{ background: rgba(255,255,255,0.5); padding: 15px;}




/* Article Styles */
#article-edit textarea{width: 350px;}

.btn-insert{ position: relative; top: -17px; right: -200px;}

.page-stats{ 
    background: #f6f6f7;
    padding-top: 15px; padding-bottom: 15px;
 }

 #digest{
    background: #f6f6f7; 
    display: inline-block; 
    margin: 5px; 
    vertical-align: top;
    max-width: 30%;
    position: absolute;
    right: 15px;
    z-index: 99; /* remove after grid applied */
    text-align: left;
}
#digest ul{list-style: none outside none; margin: 0;}
#digest ul li:first-child{margin-top: 10px;}
#digest ul li a{padding: 5px 15px;}
/*
.editable-container{position: relative;}
.editable-container input{margin-top: 10px;}
.editBtn {
    position: absolute;
    left: -35px;
}
.editBtn.active{top: 10px;}
.delBtn { 
    position: absolute;
    left: -35px;
    top: 45px; 
}*/

