<dl class="dl-horizontal">
  <dt>Welcome</dt>
  <dd>{{ wiki.welcome }}</dd>
  <br />
  <dt>Message of The Day</dt>
  <dd>{{ wiki.motd }}</dd>
</dl>
<br />
<div id="homeBody" ng-show="wiki.homeHTML != ''" ng-bind-html="wiki.homeHTML"></div>
<div ng-show="wiki.homeHTML == ''">
<h4>Categories <a class="btn btn-link" ng-click="newCatForm()">New Category</a></h4>
<div id="new-cat-form" ng-controller="newCatCtrlr" ng-show="addingCat">
                        <h4>New Category{{newCatEdit}}<a class="btn btn-link" ng-click="cancel()">cancel</a></h4>
                        
                        <label>Name</label><input class="input-xlarge" id="name" type="text" ng-model="cat.name" placeholder="Category Name"/><br />
                        
                        <label>URL-friendly Name</label><input class="input-xlarge" id="url" type="text" ng-model="cat.url" placeholder="category-name"/>
                        <br />
                        
                        <a class="btn btn-primary" ng-click="newCat(cat)">Save</a>
                        <a class="btn btn-danger" ng-click="clear()">Clear</a>
                        <a class="btn btn-link" ng-click="cancel()">Cancel</a>

                    </div>
      <!-- List Current Categories -->
      <div ng-repeat="cat in wiki.categories">
      	<h5><a class="btn btn-link" href="#/categories/{{cat.url}}">{{ cat.name }}</a></h5>
      	<ul>
            <li ng-repeat="page in wiki.pages | filter:cat.name as results"><a href="#/pages/{{page.name}}">{{ page.title }}</a></li>
        </ul>
      </div>
<br />
</div>


