
<div class="row">
    <div class="col-md-12">
        <h4>{{cat.name}}</h4>
        <a class="btn btn-link" ng-click="newPageForm();">Create New Page</a> in <strong>{{ cat.name }}</strong>
    </div>
</div>
<div class="row">
	<div class="col-md-6" id="new-page-form" ng-show="addingPage">
        <h4>New Page<a class="btn btn-link" ng-click="cancel()">cancel</a></h4>
        
        <label>Title</label><br />
        <input class="input-xlarge" id="title" type="text" ng-model="newpage.title" />
        
        <label>Page summary</label><br />
        <textarea class="input-xlarge" ng-model="newpage.intro" rows="8"></textarea><br /><br />
        
        <a class="btn btn-primary" ng-click="newPage(newpage)">Save</a>
        <a class="btn btn-danger" ng-click="clear()">Clear</a>
        <a class="btn btn-link" ng-click="cancel()">Cancel</a>

    </div>
</div>
<div class="row">
    <!-- List Current Pages in this Category -->
  	<ul class="col-md-12">
        <li ng-repeat="page in thisCatPages | filter:cat._id as results"><a href="#/pages/{{page.name}}">{{ page.title }}</a></li>
    </ul>
</div>
<div class="row page-stats">
    <div class="col-md-12">
    <h4>Category Stats</h4>
    </div>
    <div class="alert alert-error col-md-12" ng-show="catDeleteWarning">
        <p><strong>Whoops!</strong> {{ catDeleteWarningMsg }} 
        <a class="close" ng-click="catDeleteWarningMsg = ''; catDeleteWarning = false;">&times;</a></p>
    </div>
    <div class="col-md-10">
        <p><strong>Delete Category</strong><br />
        You can only delete a category if there are no pages in it.</p>
    </div>
    <div class="col-md-2">
        <a class="btn btn-danger float-right" ng-click="deleteCat(cat)">Delete Category</a>
    </div>
</div>