<h4>{{cat.name}}</h4>
		<a class="btn btn-link" ng-click="newPageForm();">Create New Page</a> in <strong>{{ cat.name }}</strong><br />
		<div id="new-page-form" ng-show="addingPage">
                        <h4>New Page<a class="btn btn-link" ng-click="cancel()">cancel</a></h4>
                        
                        <label>Title</label><input class="input-xlarge" id="title" type="text" ng-model="newpage.title" /><br />
                        
                        <label>Aricle Body</label><Br />
                        <div ng-repeat="section in newpage.body">
                        <textarea class="input-xlarge" ng-model="section.text" rows="8"></textarea><Br />
                        </div>
                        
                        <a class="btn btn-primary" ng-click="newPage(newpage)">Save</a>
                        <a class="btn btn-danger" ng-click="clear()">Clear</a>
                        <a class="btn btn-link" ng-click="cancel()">Cancel</a>

                    </div>
        <!-- List Current Pages in this Category -->
      	<ul>
            <li ng-repeat="page in thisCatPages | filter:cat._id as results"><a href="#/pages/{{page.name}}">{{ page.title }}</a></li>
        </ul>
    <br />
    <br />
    <div class="container-fluid page-stats">
        <h4>Category Stats</h4>
        <div class="alert alert-error" ng-show="catDeleteWarning">
            <p><strong>Whoops!</strong> {{ catDeleteWarningMsg }} 
            <a class="close" ng-click="catDeleteWarningMsg = ''; catDeleteWarning = false;">&times;</a></p>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <p><strong>Delete Category</strong><br />
                You can only delete a category if there are no pages in it.</p>
            </div>
            <div class="span2">
                <a class="btn btn-danger float-right" ng-click="deleteCat(cat)">Delete Category</a>
            </div>
        </div>
    </div>