<h4>{{cat.name}}</h4>
		<a class="btn btn-link" ng-click="newPageForm()">Create New Page</a> in <strong>{{ cat.name }}</strong><br />
		<div id="new-page-form" ng-controller="newPageController" ng-show="addingPage">
                        <h4>New Page<a class="btn btn-link" ng-click="cancel()">cancel</a></h4>
                        
                        <label>Title</label><input class="input-xlarge" id="title" type="text" ng-model="newpage.title" /><br />
                        
                        <label>Aricle Body</label><Br />
                        <textarea class="input-xlarge" ng-model="newpage.body" rid="body" rows="8"></textarea><Br />
                        
                        <a class="btn btn-primary" ng-click="newPage(newpage)">Save</a>
                        <a class="btn btn-danger" ng-click="clear()">Clear</a>
                        <a class="btn btn-link" ng-click="cancel()">Cancel</a>

                    </div>
        <!-- List Current Pages in this Category -->
      	<ul>
            <li ng-repeat="page in wiki.pages | filter:cat.name as results"><a href="#/pages/{{page.name}}">{{ page.title }}</a></li>
        </ul>